<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Registeration </title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h1 class="logo">Flight Booking</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/predict">prediction</a></li>
                </ul>
            </div>
            <div class="sky">
                <h1 class="sky1">Life Is Short And The World Is Wide</h1>    
            </div>
            <div> 
                <p class="sky2">To get the best of your adventure you just need to leave and<br> go where you like we are waiting for you.</p>
            </div>
            <div class="sky3">
                <button class="sky4"><a href="/predict">Book Now</a></button>
            </div>
        </div>
    </div>
</body>
</html>